<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KongFuCenter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B59408C31C0FC9E8003DC15D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B59408DC1C0FC9E9003DC15D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B59408E71C0FC9E9003DC15D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
